@import "tailwindcss";

/* flash message */
.animate-appear-then-fade {
  animation: appear-then-fade 4s both;
}

@keyframes appear-then-fade {
  0%, 100% {
    opacity:0
  }
  5%, 60% {
    opacity:1
  }
}