@import "tailwindcss";

/* spinner */
.spinner_5nOS {
  transform-origin: center;
  animation: spinner_sEAn .75s infinite linear
}

@keyframes spinner_sEAn {
  100% {
    transform:rotate(360deg)
  }
}